@page "{u?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron bg-light">
    <h2>Shorten your URL</h2>
    <br />
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="InputUrl" class="form-control" placeholder="http://www.exampleurl.com/yoursuperlongurl" />
            <span asp-validation-for="InputUrl" class="text-danger"></span>
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Shorten" class="btn btn-primary" />
        </div>
    </form>
</div>

@if (Model.MyUrl != null)
{
    var rootURL = HttpContext.Request.Host;
    var scheme = HttpContext.Request.Scheme;
    var shortenedURL = $"{scheme}://{rootURL}/{Model.MyUrl.ShortenedUrl}";
    <div class="card">
        <div class="card-header bg-success text-white"><h5>Success!</h5></div>
        <div class="card-body"><p>Your link <strong><a href="@Model.MyUrl.UrlToShorten">@Model.MyUrl.UrlToShorten</a></strong> has been shortened to <strong><a href="@Model.MyUrl.ShortenedUrl">@shortenedURL</a></strong></p></div>
    </div>
}